:root{
	--sr-primary-color: #003d2b;
	--sr-secondary-color: #ade6b9;
	--sr-accent-color: #003d2b;
	--sr-light-color: #F5F7FA;
	--sr-dark-color: #4b5565;
	--link-background: #ade6b9;
}
.sport-base__address {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    gap: 8px;
    font-size: 16px;
}
.sport-base__manger-contacts a {
    color: #4B5565;
}
.sport-base__address__item {
    display: flex;
    align-items: center;
}
.sport-base__address svg path,
.sport-base__manger svg path {
    stroke-width: 1.5px;
}
.sport-base__address__icon,
.sport-base__code__icon {
    width:20px;
    height:20px;
    margin-right:4px;
} 

.sport-base__types {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sport-base__address + .sport-base__types{
margin-bottom: 32px;
}
.sport-base__space--info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.more-button,
.sport-base__types li {
    display: inline-block;
    padding: 2px 12px;
    background: #F2F4F7;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color:#344054;
    font-size:14px;
}
.more-button{
    cursor:pointer;
}
.sport-base__photos {
    display: grid;
    gap: 16px;
    height: 400px;
    margin-bottom: .5rem;
    margin-top:1.25rem;
}

.sport-base__photo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em
}

.sport-base__photos__count-2 {
    grid-template-columns: 1fr 1fr;
}

.sport-base__photos__count-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.sport-base__photos__count-4 {
    grid-template-columns: 60% 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.sport-base__photos__count-5 {
    grid-template-columns: 60% 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);

}

.sport-base__photos__count-5 a:first-child,
.sport-base__photos__count-4 a:first-child {
    grid-row: span 2;
}

.sport-base__photos__count-4 a:last-child {
    grid-column: span 2;
}
.sport-base__photos_navigation{
    display:none;
}
.sport-base__photos__wrapper{
    position:relative;
    margin-bottom: 2.5rem;
}
.sport-base__tabs-header{
    display:flex;
    gap: 1rem;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 1.25rem;
}
.sport-base__wrapper,
.sport-base__tabs{
    width: 100%;
}
.sport-base__tab{
    cursor:pointer;
    font-weight:600;
    color:#4B5565;
}
.sport-base__tab--active{
    color:#003D2B;
    text-decoration: underline;
}
.sport-base__space__additionalValues,
.sport-base__overview{
    margin-left:0;
    padding-left:0;
    list-style-type:none;
    display:grid;
    grid-template-columns: 1fr;
    gap: 8px 16px;
}
.sport-base__space__additional-label,
.sport-base__space__additional-value{
    font-size:14px;
    color:#4B5565;

}
.sport-base__space__type.rm-margin{
    margin:0;
}
.sport-base__space__additionalValues{
    gap: 8px 32px;
    grid-template-columns: 1fr 1fr;
}
.sport-base__space__additionalValues li{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px dotted #dfdfdf;
    gap: 8px;
}
.collapse-text,
.sport-base__space_additionalValues_wrapper {
    display: none;
}
.sport-base__overview li{
    display:flex;
    gap: 8px;
    align-items: center;
}
.sport-base__data{
    display:flex;
    align-items: flex-start;
    gap: 16px;
}
.sport-base__manger{
    padding: 40px;
    background: #F8FAFC;
    border: 1px solid #EAEAEF;
    border-radius: 24px;
    width:100%;
    max-width: 460px;
}
 .sport-base__tab-content{
    margin-bottom:64px;
} 
.sport-base__tab-content h2{
    font-size: 24px;
    color:#121926;
    font-weight:600;
    margin:0;
    padding:0;
    margin-bottom:32px;
}
.sport-base__space__more{
    display: flex;
    align-items:center;
    gap:8px;
    cursor:pointer;
    font-size:14px;
    color:#4B5565;
}
.sport-base__space__more:hover .btn-more{
    background-color:#ADE6B9;
}
.btn-more{
    background:#003D2B;
    border-radius:50%;
    width:32px;
    height:32px;
    display:inline-flex;
    justify-content: center;
    align-items:center;
}
.sport-base__space-title{
    font-weight:600;
    font-size:20px;
    color:#121926;
    margin:0;
    padding:0;
}
.sport-base__manger-title{
    color:#000;
    font-weight: 600;
}
.sport-base__space__type{
    font-size:14px;
    margin:0 0 16px 0;
    color:#4B5565;
}
.sport-base__space__heading,
.sport-base__space__meta{
    display:flex;
    align-items:center;
    gap:8px;
    justify-content: space-between;
}
.sport-base__space__technicalCondition{
    display:flex;
    align-items:center;
    gap:8px;
    justify-content: space-between;
    padding: 2px 12px;
    border-radius: 24px;
    color:#fff;
    font-size:14px;
}
.sport-base__space--f,
.sport-base__space{
    display:block;
}
.sport-base__space:hover{
    border-color:var(--sr-secondary-color)
}
a.sport-base__space__heading:hover h3.sport-base__space-title{
    color:var(--sr-primary-color) !important;
}
.sport-base__space__technicalCondition--excellent{
    background-color: #cfe2ff;
    color:#052c65;
}
.sport-base__space__technicalCondition--good{
    background-color: #ECFDF3;
    color:#027A48;
}
.sport-base__space__technicalCondition--average{
    background-color: #cff4fc;
    color:#055160;
}
.sport-base__space__technicalCondition--bad{
    background-color: #fff3cd;
    color:#664d03;
}
.sport-base__space__technicalCondition--verybad{
    background-color: #f8d7da;
    color:#58151c;
}
.sport-base__space--f,
.sport-base__space{
    margin-bottom: .5rem;
    border-radius:16px;
    border:1px solid #EAEAEF;
    padding:20px;
}
.sport-base__label{
    color:#4B5565;
}
.sport-base__manager-www{
    margin-top:1rem;
    border:1px solid rgb(0, 61, 43);
    background-color: #fff;
    color:#003D2B;
    border-radius: 4px;
    padding: 11px 32px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sport-base__space--wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 32px;
}
.sport-base__space--photo img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/2;
    border-radius: 12px;
    object-fit: cover;
}
.sport-base__photos a,
.sport-base__space--photo a{
    cursor: zoom-in;
}
@media(max-width: 768px) {
    .sport-base__space--wrapper {
        grid-template-columns: 1fr;
    }
}
.tags-wrapper {
    display: flex;
    flex-wrap: nowrap; 
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden; 
}
.tag{
    position:absolute;
}
.sport-organization__manager-map-wrapper,
.sport-base__manager-map-wrapper{
    margin-top:1rem;
}
.sport-organization__manager-map,
.sport-base__manager-map{
    height:250px;
    width:100%;
    border-radius:16px;
}
.sport-base__manger-contacts{
    margin:16px 0;
}
.sport-base__manger-contacts > div{
    display:flex;
    align-items:center;
    gap:8px 16px;
    margin:.5rem;
}
.sport-base__manager-www:hover{
    border-color: #ADE6B9;
}
@media(max-width:991px){
    .sport-base__space__additionalValues,
    .sport-base__overview{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 768px) {
    
    .sport-base__photos__wrapper{
        margin-bottom: 2.5rem;
    }
    .sport-base__data{
        flex-direction: column;
        gap: 16px;
    }
    .sport-base__tabs,
    .sport-base__manger{
        margin:0;
        max-width: 100%;
    }
    .sport-base__manger{
        padding: 28px;
    }
    .sport-base__photos__wrapper{
        overflow: hidden;
    }
    .sport-base__photos_navigation{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .sport-base__photos__pagination{
        display:flex;
        justify-content: center;
        margin-top: 10px;
    }
    .sport-base__photos__pagination-bullet{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #000;
        margin: 0 5px;
        cursor: pointer;
        opacity:.2;
    }
    .sport-base__photos__pagination-bullet-active{
        background:#336361;
        border-radius: .25rem;
        width:16px;
        opacity: 1;
    }
    .sport-base__photos__navigation button{
        height: 3rem;
        margin: 0 .5rem;
        position: static;
        width: 3rem;
        background: transparent;
        border: 1px solid rgba(29, 36, 48, .4);
        color: #1d2430;
        cursor:pointer;
    }
    .sport-base__photos__navigation button.sport-base__photos_navigation__disabled{
        opacity: .35;
        pointer-events: none;
        cursor: not-allowed;
    }
    .sport-base__photos_navigation button.sport-base__photos_navigation__next{
        right:0;
    }
    .sport-base__photos {
        display:flex;
        height: 350px;
        transition: transform 0.5s ease-in-out
    }
    .sport-base__photo {
        height: 350px;
        min-width: 100%;
        position: relative;
    }
}

.maplibregl-popup-content{
    border-radius:12px;
    padding:16px;
    background-color:#fff;
    min-width:280px;
}
.sr-popup img{
    object-fit: cover;
    height: 120px;
    width: 100%;
    border-radius: 8px;
    
}
.maplibregl-popup-close-button{
    background-color: #fff;
    border-radius: 12px;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    color:#fff;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}
.maplibregl-popup-close-button:before{
    content: "";
    position: absolute;
    width: 20px;
    display: block;
    height: 20px;
    background: url(
    data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDNjM2EiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXgiPjxwYXRoIGQ9Ik0xOCA2IDYgMTgiLz48cGF0aCBkPSJtNiA2IDEyIDEyIi8+PC9zdmc+);
}
.maplibregl-popup-close-button:hover{
    background-color:#fff;
}
.maplibregl-popup-close-button:hover:before{
    background: url(
		data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2OTc1ODYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXgiPjxwYXRoIGQ9Ik0xOCA2IDYgMTgiLz48cGF0aCBkPSJtNiA2IDEyIDEyIi8+PC9zdmc+
    );  
}
.sr-popup h3{
    font-size: 16px;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    margin: 8px 0 0;
	color:#1d2430;
	font-weight: 500;
}
ul.rounded-tags{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap:8px;
    margin-bottom: 16px;
}
ul.rounded-tags li{
    background-color: #F5F7FA;
    border-radius: 16px;
    padding: 4px 8px;
    font-size: 12px;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    color: #1d2430;
}   
.sr-popup .place__url {
    background-color: var(--link-background);
    color: var(--sr-primary-color);
    border-radius: 3rem;
    padding: 8px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size:16px;
	margin-top: 8px;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
}
.sr-popup .place__detail__icon{
    color: var(--state-queue-color);
}
.sr-popup .place__url:hover{
    background-color: var(--sr-primary-color);
    color: var(--link-background);
}
.sr-popup .place__url:hover .place__detail__icon{
    color: var(--link-background);
}
.address-wrapper{
	color:#4b5565;
}